@import 'tailwindcss';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'rc-tree/assets/index.css';

@theme {
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  --animate-wait-circle: waitCircleFrame 1s linear infinite;

  @keyframes waitCircleFrame {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}

body {
  font-family: Arial;
  font-size: 14px;
  overflow: auto;
  padding: 0px;
}

/* messages */
.message {
  color: grey;
  font-style: italic;
}

.no-data-message {
  color: grey;
  font-style: italic;
}

.error-message {
  color: red;
  font-style: italic;
}

.warning-message {
  color: orange;
  font-style: italic;
}

/* tabs */
.container-tabs {
  .nav-link {
    color: var(--bs-body-color);

    &.active {
      color: white;
      background-color: var(--color-emerald-500);
    }
  }
}
